@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title" class="container mt-5">
    <h2 id="title" class="text-center text-primary mb-3">@ViewBag.Title</h2>
    <h3 class="text-center text-muted">@ViewBag.Message</h3>

    <p class="text-center mt-4">
        Use this area to provide additional information.
    </p>
</main>
